footer.footer
    .container
        .row
            .col-md-9.footer-bottom__copyright
                p © 2017 г. Название компании
                p.footer-bottom__copyright-dvr.hidden-xs-down Сайт разработан <a href="http://zm-it.ru" target="_blank">студией ZM-IT</a>
            .col-md-3.footer-bottom__counter
                img(src='/images/counter.jpg', width='88', height='31')

