extends layout/page

block variables
    - var title = 'Главная страница'
    - var pageClass = 'homepage'

block top-position
    section.top-position
        .module
            .module__title Модуль в позиции TOP

block columns
    main.content-left.col-lg-8
        article.page.textblock
            h1 Заголовок страницы
            p.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation <strong>ullamco laboris</strong> nisi ut aliquip ex ea commodo
                consequat.


            .slider.owl-carousel
                - for(var i = 1; i < 6; i++)
                    .slider__item= i


    //- Sidebar
    include regions/sidebar.pug

block bottom-position
    section.bottom-position
        .module
            .module__title Модуль в позиции BOTTOM