/** ========== Form elements ========== **/
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
    background-color: $white;
    border: 1px solid #ccc;
    color: #333;
    padding: 5px 15px;
    font-size: 13px;
    transition: border-color .3s ease;
    height: 40px;
}
textarea {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100px;
}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, textarea:focus {
    border-color: rgba(68, 68, 68, 0.5);
    transition: border-color .3s ease;
}
.inputbox.rsform-error, .textbox.rsform-error {
    border-color: rgba(238, 68, 68, 0.5);
}
input::-webkit-input-placeholder {
    color: #666
}
input::-moz-placeholder {
    color: #666
}
textarea::-webkit-input-placeholder {
    color: #666
}
textarea::-moz-placeholder {
    color: #666
}

/** Form messages **/

.form {
    &__error {
        color: $red;
        text-align: center;
        padding-top: 8px;
        font-size: 14px;
    }
    &__sys-message {
        text-align: center;
    }
    &__success-title {
        color: $green;
        font: 700 20px Arial, sans-serif;
        margin: 0 0 15px;
    }
    &__success-text {
        color: #333;
        font-size: 15px;
        margin: 0;
    }
}

/** === Sending btn === **/
.sending {
    .btn.btn-submit{
        border-color: transparent;
        animation: barberpole 0.5s linear infinite;
        background-size: 30px 30px;
        background-color: #3cb5fe;
        background-image: linear-gradient(45deg, rgba(73, 108, 174, 0.5) 25%, transparent 25%, transparent 50%, rgba(73, 108, 174, 0.5) 50%, rgba(73, 108, 174, 0.5) 75%, transparent 75%, transparent);
    }
}

@-webkit-keyframes barberpole {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 60px 30px;
    }
}
@-moz-keyframes barberpole {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 60px 30px;
    }
}
@-o-keyframes barberpole {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 60px 30px;
    }
}
@keyframes barberpole {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 60px 30px;
    }
}