/**
    ========== Responsive video ==========
**/
.video {
    position: relative;
    height: 0;
    overflow: hidden;
    padding: 0 0 57%;

    iframe, object, embed {
        position: absolute;
        bottom: 0;
        left: 0;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
    }
}