.main-container
    flex: 1

@include media-breakpoint-up(lg)
    /**
     * Main column
     */
    .content
        &__left, &__middle
            position: relative

        &__left
            left: 33.3333%

        &__middle
            left: 25%

